<div id='lead_type_dialog'>
  <div id='lead_types'>
    <%= image_tag 'hot-icon.png'     , :size => '23x23' , :class => 'lead_type_selection' , 'data-lead_type' => 'HOT' %>
    <%= image_tag 'neutral-icon.png' , :size => '23x23' , :class => 'lead_type_selection' , 'data-lead_type' => 'NEUTRAL' %>
    <%= image_tag 'cold-icon.png'    , :size => '23x23' , :class => 'lead_type_selection' , 'data-lead_type' => 'COLD'  %>
  </div>
</div>
