// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border: none;
}

td {
  border: none;
}

tr.even {
  background-color: #fff
}

tr.odd {
  background-color: #eee
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.column {
  cursor: move;
}

.over {
  border: 2px dashed #000;
}

