<div id='lead_type_dialog' title='Lead Type'>
  <div id='lead_types'>
    <%= image_tag 'HOT.png'     , :class => 'lead_type_selection' , 'data-lead_type' => 'HOT' %>
    <%= image_tag 'NEUTRAL.png' , :class => 'lead_type_selection' , 'data-lead_type' => 'NEUTRAL' %>
    <%= image_tag 'COLD.png'    , :class => 'lead_type_selection' , 'data-lead_type' => 'COLD'  %>
  </div>
</div>
