<div id="moreInfo">
	<p>Interested in learing more about Test Studio? Visit us at <a href="http://www.telerik.com/automated-testing-tools.aspx?utm_source=TS_CRM_Demo_App&utm_medium=TS_site&utm_campaign=TS_HP">the Test Studio home page.</a> You can also <a href="http://www.telerik.com/automated-testing-tools/download.aspx?utm_source=TS_CRM_Demo_App&utm_medium=TS_site&utm_campaign=TS_Download_Trial">download a fully functional trial of Test Studio</a> complete with our full priority support to help you get started!</p>
</div>
