// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: none;
}

th {
  background-color: #343841;
  color: #ffffff;
  padding: 5px;
  text-align: center;
}

tr.even {
  background-color: #fff
}

tr.odd {
  background-color: #eee
}

td {
  height: 25px;
  padding: 3px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.drop_target {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  display: table-cell;
  vertical-align: middle;

  img {
    position: relative;
    display: block;
    margin: auto;
    z-index: -1;
  }
}

.over {
  border: 2px dashed #000;
}

#treeview {
  float: left;
}

#inline_contact_edit_form {
  float: left;
  margin: 0px 50px;
}
