// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border: none;
}

td {
  border: none;
}

tr.even {
  background-color: #fff
}

tr.odd {
  background-color: #eee
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.drop_target {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  display: table-cell;
  vertical-align: middle;

  img {
    position: relative;
    display: block;
    margin: auto;
    z-index: -1;
  }
}

.over {
  border: 2px dashed #000;
}

